.main{
        height: 100%;
        background-color: var(--color-background);
}

.content, .toolbar{
        background-color: var(--color-background);

}

    
.spacer {
        flex: 1 1 auto;
      }



.night-icon{
        color: var(--color-primary)
}

