<div class="container">
  <div class="row top-container">
    <div class="col"></div>
    <div class="col-4">
      <button mat-raised-button color="primary" routerLink="/home">Home</button>
    </div>
    <div class="col"></div>
  </div>

  <div class="row center-container">
    <div class="col"></div>
    <h1 class="col-lg-4 col-12">Title here</h1>
    <div class="col"></div>
  </div>

  <div class="row text-container">
    <div class="col"></div>
    <div class="col-lg-6 col-md-8">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore iure
        officiis dolor suscipit non placeat error cum, eius fuga animi quasi
        possimus veritatis et maxime quia autem beatae laboriosam provident.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur
        velit magnam officiis soluta, voluptas, nesciunt qui porro corrupti ea
        distinctio quisquam?
      </p>

      <p>
        Given the gladiator <b>a</b> has a level <b>x<sub>a</sub></b> and fights
        another gladiator <b>b</b> with a level <b>x<sub>b</sub></b
        >, the probability of gladiator <b>a</b> winning this fight is
        equivalent to

        <b>x<sub>a</sub></b> / ( <b>x<sub>a</sub></b> + <b>x<sub>b</sub></b
        >). Conversely, the probability of gladiator <b>b</b> winning this fight
        is equivalent to

        <b>x<sub>b</sub></b> / ( <b>x<sub>a</sub></b> + <b>x<sub>b</sub></b
        >).
      </p>
    </div>
    <div class="col"></div>
  </div>

  <div class="row battle-zone">
    <div class="col-sm"></div>
    <div class="col-lg-6 col-md-8">
      <div class="row center-container">
        <div class="col"></div>
        <div class="col-lg-6 col-12">
          <hr />
          <h2><b>Example Game</b></h2>
          <small
            >Drag gladiators vertically to rearrange the order of fights</small
          >
          <br />

          <button
            *ngIf="firstGameHidden"
            mat-raised-button
            color="primary"
            class="start-first-button"
            (click)="startFirstGame()"
          >
            Start
          </button>

          <button
            *ngIf="!firstGameHidden"
            mat-raised-button
            color="warn"
            class="reset-first-button"
            (click)="resetFirstGame()"
          >
            Reset
          </button>
          <hr />
        </div>

        <div class="col"></div>
      </div>
      <div class="placeholder" *ngIf="firstGameHidden"></div>
      <div
        class="row first-game-container center-container"
        *ngIf="!firstGameHidden"
      >
        <div class="col-md-1"></div>
        <div class="col-4">
          <div class="center-container">Player A</div>
          <div
            cdkDropList
            [cdkDropListData]="myGlads"
            class="gladiator-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let glad of myGlads; let i = index"
              cdkDragLockAxis="y"
              cdkDrag
            >
              <div
                class="card grabbable glow"
                [ngClass]="{ 'first-glad': i == 0 }"
              >
                🤹‍♂️ <br />
                Gladiator <br />
                Level {{ glad }}
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 col-sm-2 center-container">
          <div class="center-container">Fight</div>
          <div class="connector"></div>
          <div class="battle-button-container">
            <button mat-fab class="battle-button" color="primary">⚔️</button>
          </div>
        </div>
        <div class="col-4">
          <div class="center-container">Player B</div>
          <div
            cdkDropList
            [cdkDropListData]="enemyGlads"
            class="gladiator-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let glad of enemyGlads; let i = index"
              cdkDragLockAxis="y"
              cdkDrag
            >
              <div class="card grabbable" [ngClass]="{ 'first-glad': i == 0 }">
                🤹‍♂️ <br />
                Gladiator <br />
                Level {{ glad }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>

  <div class="row center-container">
    <div class="col-sm"></div>
    <div class="col-lg-6 col-md-8">
      <hr />
      <h1>Ordering</h1>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
