.connector {
  width: 100%;
  height: 2em;
  background-color: red;
  position: absolute;

  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}


.middle-content {
  min-height: 30em;
  position: relative;
}
