<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
<p>test works!</p>

<div class="container">
  <div class="row no-gutters">
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3">Side</div>
    <div class="col col-sm col-md col-md col-xl p-0 middle-content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore similique
      natus iusto commodi labore animi suscipit molestias sunt recusandae vel
      minima, omnis ab eum iure. Consectetur consequuntur debitis aspernatur
      voluptatum. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Dolore similique natus iusto commodi labore ani suscipit molestias sunt
      recusandae vel minima, omnis ab eum iure. Consectetur consequuntur debitis
      aspernatur volaaastum. Lrem ipsum dolor sit, amet consectetur adipisicing
      elit. Dolore similique natus iusto commodi labore animi suscipit molestias
      sunt recusandae vel minima, omnis ab eum iure. Consectetur consequuntur
      debitis aspernatur voluptatum.
      <!-- <div class="connector-container"> -->
      <div class="connector"></div>
      <!-- </div> -->
    </div>
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3">Side</div>
  </div>
  <!-- -- -->
  <!-- <div class="row">
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3">Side</div>
    <div class="col col-sm col-md col-md col-xl">
      <div class="connector"></div>
    </div>
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3">Side</div>
  </div> -->
</div>
